/*
	the below set of base font size CSS is from http://clagnut.com/blog/348/
*/

body {
	font-size: 67.5%;   /* causes 1em to equal 10px */
}

#nav-bar-global #nav-bar-local {
	font-size: 1.2em;   /* displayed at 12px */
	background: #ddd;
}

#user-management {
	font-size: 1em;   /* displayed at 10px */
}

#branding {
	font-size: 1em;   /* displayed at 10px */
}

#main-content {
	font-size: 1.2em;   /* displayed at 12px */
}

H1 {
	font-size:2em;   /* displayed at 24px */
}

H2 {
	font-size:1.5em;   /* displayed at 18px */
}

H3 {
	font-size:1.25em;   /* displayed at 15px */
}

H4 {
	font-size:1em;  /* displayed at 12px */
}

INPUT, SELECT, TH, TD {
	font-size:1em;   /* maks sure forms inherit font size correctly */
}

LI LI, LI P, TD P, BLOCKQUOTE P {
	font-size:1em;  /* make sure child elements inherit their font size from their parent */
}

/*
	the above set of base font size CSS is from http://clagnut.com/blog/348/
*/

#user-tools, #user-tools a:link, #user-tools a:visited {
	color: #000000;
}

#user-management a {
	text-decoration: none;
}

#breadcrumbs a {
	text-decoration: none;
}

#breadcrumbs {
	background: url("/static/base/img/nav-bg-reverse.gif") repeat-x scroll 0px -10px #FFF;
	padding: 2px 8px 3px;
	font-size: 1.25em;
	color: #999;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #DDD;
	text-align: left;
}

#header {
	background: #ffffff;
}

#site-logo {
    float: left;
}

#user-management {
	float: right;
}

table.site-header {
    width: 100%;
}

.table-nav-pages a {
	text-decoration: none;
}

#nav-bar-1, #nav-bar-2 {
    border-spacing: 0px;
    color: #000000;
}

#nav-bar-1 tr {
    background-color:#eeeeee;
    font-size: 1.25em;
}

#nav-bar-2 tr {
    background-color:#eeeeee;
    font-size: 1.25em;
}


#nav-bar-1 ul, #nav-bar-2 ul {
    list-style-type: none;
    margin: 0px;
}

#nav-bar-1 li, #nav-bar-2 li {
    display: inline;
    margin: 0px;
}

#nav-bar-1 a, #nav-bar-2 a {
    font-size: 1.25em;
    text-decoration: none;
    padding: 0px 10px;
    border: 0px;
}

#nav-bar-1 a.nav-1-selected, #nav-bar-2 a.nav-2-selected {
    color: #000000;
    background: #dddddd;
}

#nav-bar-1 a.nav-1-unselected, #nav-bar-2 a.nav-2-unselected {
    color: #000000;
    background: #eeeeee;
}

#nav-bar-1 a:hover, #nav-bar-2 a:hover {
    text-decoration: underline;
    color: #ff0000;
}

.breadcrumb {
    font-size: 80%;
}

.pkt-warning, .pkt-report-header {
    font-weight: bold;
}

.detail-table-error-text, .detail-table-error-text input, 
.detail-error-text, .detail-error-text input{
    color: red;
}

.pkt-ok {
    color: green;
}

.detail-table-error td, .detail-error td {
    border: 2px solid red;
}

.pkt-param-text, .detail-table-error-text, .detail-error-text, 
.detail-table-text input, .detail-table-error-text input {
    font-weight: bold;
}

.pkt-info p {
    color:black;
}

/*
li a {
    color:green;
}

a:visited{
	color:#156641
}

a:active,a:focus,a:hover{
	color:#1d915c
}
*/

ul.parse-errors, ul.nav, ul.ph-items {
    list-style-type:none;
}

ul.tabbed-menu {
    padding: 0;
    width: 1000px;
}

ul.tabbed-menu li {
    display: inline;
}

a.pkt-link, .breadcrumb a {
    text-decoration: none;
}

ul.tabbed-menu li {
    float: left;
    margin-right: 1%;
    background-color: lightgrey;
    color: black;
    padding: 10px 20px 0px;
    text-decoration: none;
    border-radius: 15px 15px 0 0;
    border-style: none;
}

ul.tabbed-menu li:hover {
    background-color: darkgrey;
}

ul.tabbed-menu li:focus{
    background-color: darkgrey;
}

#site-name {
    text-align: center;
    width: 1000px;
    font-size: 250%;
}

.pkt-report {
    clear: both;
    position: relative;
    border: 1px solid darkgrey;
    width: 90%;
    height: 300px;
    overflow: auto;
    resize: both;
}

a.pkt-action-btns {
    text-decoration: none;
    float: left;
}

div.cell-frame {
	border: 1px solid #444444;
}

tr.cell-frame {
	vertical-align: top;
}

.detail-edit-form {
    border: 1px solid darkgrey;
    width: 90%;
    height: 200px;
    resize: both;
    overflow: auto;
}

.detail-form tr.row1 {
    background-color: lightgrey;
}

.detail-form tr.row2 {
    background-color: white;
}

.detail-form td {
    background-color: inherit;
}

.detail-form input {
    background-color: inherit;
}

.detail-table-error-text, .detail-table-error-text input, 
.detail-error-text, .detail-error-text input{
    color: red;
}

.detail-table-error, .detail-error  {
    border: 2px solid red;
}

ul.errorlist {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul.errorlist li {
    display: inline;
    color: red;
}

.detail-form tr:hover {
    background-color: darkgrey;
}

tr.detail-form-header:hover {
    background-color: white;
}

#printButton {
    float: right;
}
