{% extends "rims/home.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    <a href="{% url 'rims:imports' %}">imports</a>
{% endblock breadcrumbs %}
{% block content %}
    <form  action="{% url 'rims:imports' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
         <table class=report-table>
            <tr>
                <th>
                    <h3>Imports:</h3>
                </th>
            </tr>
            <tr>
                <td class="cell-frame">
                    <table>
                        <tr class="bottom-bordered-row">
                            <th class="report-column left-column">
                                Products
                            </th>
                            <th class="report-column">
                                Sites
                            </th>
                            <th class="report-column right-column">
                                Inventory
                            </th>
                        </tr>
                        <tr>
                            <td class="left-column">
                                <input title="import products from spreadsheet" class="cell-left-btn"
                                {% if not canImportProducts %}
                                    disabled
                                {% endif %}
                                type="submit" name="Import Products" value="Import">
                                <input title="delete all products from database"class="cell-right-btn"
                                {% if not canDeleteProducts %}
                                    disabled
                                {% endif %}
                                type="submit" name="Delete Products" value="Delete">
                            </td>
                            <td>
                                <input title="import sites from spreadsheet" class="cell-left-btn"
                                {% if not canImportSites %}
                                    disabled
                                {% endif %} 
                                type="submit" name="Import Sites" value="Import">
                                <input title="delete all sites from database" class="cell-right-btn"
                                {% if not canDeleteSites %}
                                    disabled
                                {% endif %} 
                                type="submit" name="Delete Sites" value="Delete">
                            </td>
                            <td class="right-column">
                                <input title="import inventory from spreadsheet" class="cell-left-btn"
                                {% if not canImportInventory %}
                                    disabled
                                {% endif %} 
                                type="submit" name="Import Inventory" value="Import">
                                <input title="delete all inventory from database" class="cell-right-btn"
                                {% if not canDeleteInventory %}
                                    disabled
                                {% endif %} 
                                type="submit" name="Delete Inventory" value="Delete">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {{ fileSelectForm }}
        <table class="report-table">
            <tr>
                <th>
                    <h3>Exports:</h3>
                </th>
            </tr>
            <tr>
                <td class="cell-frame">
                    <table>
                        <tr class="bottom-bordered-row">
                            <th class="report-column left-column">
                                Products
                            </th>
                            <th class="report-column">
                                Sites
                            </th>
                            <th class="report-column right-column">
                                Inventory
                            </th>
                        </tr>
                        <tr>
                            <td class="left-column">
                                <input class="cell-center-btn" input title="export products to spreadsheet" type="submit" name="Export Products" value="All">
                            </td>
                            <td>
                                <input class="cell-center-btn" title="export sites to spreadsheet"type="submit" name="Export Sites" value="All">
                            </td>
                            <td class="right-column">
                                <input class="cell-left-btn" title="export all inventory, including history, to spreadsheet"type="submit" name="Export All Inventory" value="All">
                                <input class="cell-right-btn" title="export current inventory to spreadsheet"type="submit" name="Export Latest Inventory" value="Latest">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>
                        Backup/Restore:
                    </h3>
                </th>
            </tr>
            <tr>
                <td class="cell-frame">
                    <input class="cell-left-btn" title="export all information in database to spreadsheet"type="submit" name="Backup" value="Backup">
                    <input class="cell-right-btn" title="restore the database from a backup spreadsheet"type="submit" name="Restore" value="Restore">
                </td>
            </tr>
        </table>
    </form>
{% endblock content %}