{% extends "rims/imports.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    <a href="{% url 'rims:import_sites' %}">import sites</a>
{% endblock breadcrumbs %}
{% block content %}
    <form action="{% url 'rims:import_sites' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if canImportSites %}
            {{ fileSelectForm.as_p }}
            <input title="import sites from Excel" type="submit" value="Import" name="Import">
        {% endif %}
        <input id="cancel-restore" type="submit" value="Cancel" name="Cancel">
        <br/>
    </form>
    
{% endblock content %}