{% extends "rims/imports.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    <a href="{% url 'rims:inventory_delete_all' %}">delete all inventory</a>
{% endblock breadcrumbs %}
{% block content %}
    <h3>{{ warningMessage }}</h3>
    <form action="{% url 'rims:inventory_delete_all' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete All Inventory" name="Delete All Inventory">
        <input id="cancel-product-delete" type="submit" value="Cancel" name="Cancel">
    </form>
    
{% endblock content %}