{% extends "rims/rims_home.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    <a href="{% url 'rims:products' %}">products</a>
{% endblock breadcrumbs %}
{% block content %}
    {% if productsList %}
        {% if pageNo and numPages %}
            <div class="table-nav-pages">
                <a href="{% url 'rims:paged_products' 1 %}">&lt;&lt;&nbsp;</a>
                <a href="{% url 'rims:paged_products' previousPageNo %}">&lt;&nbsp;</a>
                {{ pageNo }} of {{ numPages }}
                <a href="{% url 'rims:paged_products' nextPageNo %}">&nbsp;&gt;</a>
                <a href="{% url 'rims:paged_products' numPages %}">&nbsp;&gt;&gt;</a>
            </div>
        {% endif %}
        <table>
            <tr><th>Product Name</th></tr>
            {% for product in productsList %}
                <tr>
                    <td><a href="{% url 'rims:product_detail' product.code.strip %}">{{ product.name}}</a></td>
                </tr>
            {% endfor %}
        </table
    {% else %}
        <p>No products are available.</p>
    {% endif %}
{% endblock content %}