{% extends "rims/products.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    <a href="{% url 'rims:product_delete' %}">delete product</a>
{% endblock breadcrumbs %}
{% block content %}
    <form action="{% url 'rims:product_delete' %}" method="post">
        {% csrf_token %}
        {% if canDelete %}
            <input title="delete product from database" type="submit" value="Delete Product" name="Delete Product">
        {% endif %}
        <input id="cancel-product-delete" type="submit" value="Cancel" name="Cancel">
        <div id="delete-list">
            <ul>
                {% for product,inventory in productsToDelete.items %}
                    <input type="hidden" name="products" value="{{ product.pk }}" />
                    <li>{{ product.name }}
                        {% if inventory.count > 0 %}
                            <ul>
                                {%for item in inventory %}
                                    <li>
                                        {{ item.information.name }} at {{ item.site.name }} ({{ item.quantity }})
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </form>
    
{% endblock content %}