{% extends "rims/products.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    {% if product %}
        <a href="{% url 'rims:product_detail' code=product.pk page=pageNo%}">product details</a>
    {% else %}
        <a href="{% url 'rims:product_add' %}">add product</a>
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
    <table>
        <tr>
            <th>
                {% if product %}
                    <h3>Product: {{ product.name }}</h3>
                {% else %}
                    <h3>New product</h3>
                {% endif %}
            </th>
            {% if sitesList %}
                <th><h3>Sites Containing This Product:</h3></th>
            {% endif %}
            </tr>
            <tr class="cell-frame">
                <td class="cell-frame">
                     {% if product %}
                        <form action="{% url 'rims:product_detail' code=product.code page=pageNo %}" method="post">
                            {% csrf_token  %}
                            <table>
                                <table>
                                <tr>
                                    <th colspan="2">
                                        <input class="cell-right-btn" type="submit" value="Save" name="Save">
                                    </th>
                                </tr>
                                {{ productForm }}
                            </table>
                        </form>
                    {% else %}
                        <form action="{% url 'rims:product_add' %}" method="post">
                            {% csrf_token  %}
                            <table>
                                <tr>
                                    <th colspan="2">
                                        <input class="cell-right-btn" type="submit" value="Save" name="Save">
                                    </th>
                                </tr>
                                {{ productForm }}
                            </table>
                        </form>
                    {% endif %}
                </td>
                {% if sitesList %}
                    <td class="cell-frame">
                        {% if pageNo and numPages %}
                            <div class="table-nav-pages">
                                {% if numPages == 'all' %}
                                    {{ siteForms.total_form_count }} sites
                                    <a href="{% url 'rims:product_detail' code=product.pk page=1 %}">&nbsp;show pages</a>
                                {% else %}
                                    <a href="{% url 'rims:product_detail' code=product.pk page=1 %}">&lt;&lt;&nbsp;</a>
                                    <a href="{% url 'rims:product_detail' code=product.pk page=previousPageNo %}">&lt;&nbsp;</a>
                                    {{ pageNo }} of {{ numPages }}
                                    <a href="{% url 'rims:product_detail' code=product.pk page=nextPageNo %}">&nbsp;&gt;</a>
                                    <a href="{% url 'rims:product_detail' code=product.pk page=numPages %}">&nbsp;&gt;&gt;</a>
                                    <a href="{% url 'rims:product_detail' code=product.pk page='all' %}">&nbsp;show all</a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if sitesList %}
                            <table>
                                {% for site in sitesList %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'rims:site_detail' siteId=site.0.number page=1%}">
                                                {{ site.0.name }}
                                            </a>
                                        </td>
                                        <td>
                                            ({{ site.1 }})
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        </table>
{% endblock content %}