{% extends "rims/home.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    <a href="{% url 'rims:products' %}">products</a>
{% endblock breadcrumbs %}
{% block content %}
    {% if productsList %}
        <table id="report-table">
            <tr>
                <th>
                    <h3>Products:</h3>
                </th>
            </tr>
            <tr>
                <td class="cell-frame">
                    {% if pageNo and numPages %}
                        <div class="table-nav-pages">
                            {% if numPages == 'all' %}
                                {{ productsList.count }} products
                                <a href="{% url 'rims:products' page=1 %}">&nbsp;show pages</a>
                            {% else %}
                                <a href="{% url 'rims:products' page=1 %}">&laquo;&nbsp;</a>
                                <a href="{% url 'rims:products' page=previousPageNo %}">&lsaquo;&nbsp;</a>
                                {{ pageNo }} of {{ numPages }}
                                <a href="{% url 'rims:products' page=nextPageNo %}">&nbsp;&rsaquo;</a>
                                <a href="{% url 'rims:products' page=numPages %}">&nbsp;&raquo;</a>
                                <a href="{% url 'rims:products' page='all' %}">&nbsp;show all</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if numProductErrors %}
                        Products With Errors: {{ numProductErrors }} of {{ productsList.count }}<br/>
                    {% endif %}
                    <form action="{% url 'rims:products' page=pageNo %}" method="post">
                        {% csrf_token  %}
                        <div class="detail-form">
                            <table id="product-list-form">
                                {{ productForms.management_form }}
                                {% for productForm in productForms %}
                                    {% if forloop.first %}
                                        <thead>
                                            <tr class="detail-form-header">
                                                <th colspan=3>
                                                    {% if canAdd %}
                                                        <input title="add new product" class="cell-left-btn" type="submit" value="Add" name="Add">
                                                    {% endif %}
                                                    {% if canDelete %}
                                                        <input title="delete checked product(s) from the database" class="cell-right-btn" type="submit" value="Delete" name="Delete">
                                                    {% endif %}
                                                </th>
                                            </tr>
                                            <tr class="detail-form-header">
                                                <th>Product</th>
                                                <th>Code</th>
                                                {% for field in productForm.visible_fields %}
                                                    <th>{{ field.label|capfirst }}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                    {% endif %}
                                    <tr>
                                        <td class=
                                            {% if productForm.instance.check_product %}
                                                "detail-table-text cell-left"
                                            {% else %}
                                                "detail-table-error cell-lef"
                                            {% endif %}>
                                            <a title="edit product details" href="{% url 'rims:product_detail' code=productForm.instance.code %}">{{ productForm.instance.name }}</a>
                                        </td>
                                        <td>
                                            {{ productForm.instance.code }}
                                        </td>
                                        {% for field in productForm.visible_fields %}
                                            <td class="{{ field.css_classes }} cell-lef" title="{{ field.errors | escape}}">
                                                {# Include the hidden fields in the form #}
                                                {% if forloop.first %}
                                                    {% for hidden in productForm.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                {% endif %}
                                                {{ field }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock content %}