{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'rims/css/style.css' %}">
    {% block extra_scripts %} {% endblock extra_scripts %}
    <title>{% block title %}Red Cross{% endblock %}</title>
</head>

<body>
    <div id="header">
        <span id="branding">
        {% block branding %}
            <a href="{% url 'home' %}"><img src="{% static 'base/img/redcrosslogo.png' %}" width="300px"/></a>
        {% endblock branding %}
        </span>
        <span id="user-management">
            {% block user-management %}
                {% if user.is_authenticated %}
                     welcome: <strong>{{ user.username }}.</strong>:
                     {% if user.has_usable_password %}
                        <a href="{% url 'admin:password_change' %}">Change password / </a>
                     {% endif %}
                     <a href="{% url 'logout' %}">
                         Logout
                     </a>
                {% endif %}
            {% endblock user-management %}
        </span>
    </div>
    <div id="nav-global">
        {% block nav-global %}
            {% include "base/nav_global.html" %}
        {% endblock nav-global %}
    </div>
    <div id="nav-local">
        {% block nav-local %}
        {% endblock nav-local %}
    </div>
    <div id="breadcrumbs">
        {% block breadcrumbs %}
            <a href="{% url 'home' %}">home</a>
        {% endblock breadcrumbs %}
    </div>
    <div id="main-content">
        {% block content %}
            <h1>Eastern New York Region Web apps</h1>
            <h4>hosted by <a href="www.ulstercorps.org">UlsterCorps.org</a></h4>
        {% endblock content%}
    </div>
    <p>
        <span>site development by Rob Groves, support: <a href="mailto:robert.groves@redcross.org">robert.groves@redcross.org</a></span>
    </p>
</body>
</html>
