<table id="nav-bar-1" width="100%">
    <tr>
        <td align="right">
            <ul>
                <li>
                    <a {% if home %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/">Home</a></li>
                <li>
                    <a {% if nav_rims %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/rims">RIMS</a></li>
                <li><a {% if nav_inventory %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/rims/inventory">Inventory</a></li>
                <li><a {% if nav_sites %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/rims/sites">Sites</a></li>
                <li><a {% if nav_products %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/rims/products">Products</a></li>
                {% if user.is_staff %}
                    <li><a {% if nav_admin %}
                            class="nav-1-selected"
                        {% else %}
                            class="nav-1-unselected"
                        {% endif %}
                        href="/admin">Admin</a></li>
                {% endif %}
            </ul>
        </td>
    </tr>
</table>
