<table id="nav-bar-1" width="100%">
    <tr>
        <td align="right">
            <ul>
                <li>
                    <a {% if nav_home %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/">Home</a></li>
                <li>
                    <a {% if nav_rims %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/ims">RIMS</a></li>
                <li><a {% if nav_sites %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/ims/sites">Sites</a></li>
                <li><a {% if nav_products %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/ims/products">Products</a></li>
                <li><a {% if nav_reports %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/ims/reports">Reports</a></li>
                {% if user.is_staff %}
                    <li><a {% if nav_imports %}
                            class="nav-1-selected"
                        {% else %}
                            class="nav-1-unselected"
                        {% endif %}
                        href="/ims/imports">Import/Export</a></li>
                    <li><a {% if nav_admin %}
                            class="nav-1-selected"
                        {% else %}
                            class="nav-1-unselected"
                        {% endif %}
                        href="/admin">Admin</a></li>
                {% endif %}
                <li><a {% if nav_help %}
                        class="nav-1-selected"
                    {% else %}
                        class="nav-1-unselected"
                    {% endif %}
                    href="/redcross_help">Help</a></li>
            </ul>
        </td>
    </tr>
</table>
